body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:125px;
  top:83px;
  width:120px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#434343;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:110px;
  top:40px;
  width:640px;
  height:760px;
  color:#434343;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:760px;
}
#u3 {
  position:absolute;
  left:2px;
  top:372px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:500px;
  top:710px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4_img.mouseOver {
}
#u4.mouseOver {
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:710px;
  top:80px;
  width:23px;
  height:25px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:121px;
  top:120px;
  width:619px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:602px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:619px;
  height:1px;
}
#u9 {
  position:absolute;
  left:185px;
  top:374px;
  width:75px;
  height:16px;
  color:#797979;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:280px;
  top:710px;
  width:100px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:185px;
  top:244px;
  width:80px;
  height:16px;
  color:#797979;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:185px;
  top:158px;
  width:80px;
  height:16px;
  color:#797979;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:288px;
  top:197px;
  width:223px;
  height:22px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#797979;
  text-align:left;
}
#u18 {
  position:absolute;
  left:408px;
  top:241px;
  width:92px;
  height:106px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:106px;
}
#u19 {
  position:absolute;
  left:2px;
  top:45px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:288px;
  top:155px;
  width:223px;
  height:22px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#797979;
  text-align:left;
}
#u21 {
  position:absolute;
  left:185px;
  top:200px;
  width:80px;
  height:16px;
  color:#797979;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:288px;
  top:241px;
  width:92px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E4E4E4;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:288px;
  top:374px;
  width:414px;
  height:96px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:96px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#797979;
  text-align:left;
}
#u26 {
  position:absolute;
  left:190px;
  top:555px;
  width:75px;
  height:16px;
  color:#797979;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:256px;
  top:585px;
  width:70px;
  height:16px;
  color:#999999;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:370px;
  top:586px;
  width:73px;
  height:16px;
  color:#A1A1A1;
}
#u31 {
  position:absolute;
  left:16px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u30_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u32 {
  position:absolute;
  left:486px;
  top:586px;
  width:73px;
  height:16px;
  color:#A1A1A1;
}
#u33 {
  position:absolute;
  left:16px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u32_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u34 {
  position:absolute;
  left:628px;
  top:586px;
  width:74px;
  height:16px;
  color:#A1A1A1;
}
#u35 {
  position:absolute;
  left:16px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u34_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u36 {
  position:absolute;
  left:242px;
  top:616px;
  width:86px;
  height:16px;
  color:#999999;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:370px;
  top:617px;
  width:73px;
  height:16px;
  color:#A1A1A1;
}
#u39 {
  position:absolute;
  left:16px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u38_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u40 {
  position:absolute;
  left:486px;
  top:617px;
  width:73px;
  height:16px;
  color:#A1A1A1;
}
#u41 {
  position:absolute;
  left:16px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u40_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42 {
  position:absolute;
  left:628px;
  top:617px;
  width:74px;
  height:16px;
  color:#A1A1A1;
}
#u43 {
  position:absolute;
  left:16px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u42_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u44 {
  position:absolute;
  left:230px;
  top:649px;
  width:100px;
  height:16px;
  color:#999999;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:370px;
  top:650px;
  width:73px;
  height:16px;
  color:#A1A1A1;
}
#u47 {
  position:absolute;
  left:16px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u46_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u48 {
  position:absolute;
  left:486px;
  top:650px;
  width:73px;
  height:16px;
  color:#A1A1A1;
}
#u49 {
  position:absolute;
  left:16px;
  top:0px;
  width:55px;
  word-wrap:break-word;
}
#u48_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u50 {
  position:absolute;
  left:628px;
  top:650px;
  width:74px;
  height:16px;
  color:#A1A1A1;
}
#u51 {
  position:absolute;
  left:16px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u50_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u52 {
  position:absolute;
  left:530px;
  top:264px;
  width:180px;
  height:16px;
  color:#FF0000;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:211px;
  top:505px;
  width:60px;
  height:16px;
  color:#797979;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:288px;
  top:500px;
  width:117px;
  height:27px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:27px;
}
#u57 {
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
