<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<link href="/Public/css/common.css" rel="stylesheet" type="text/css">
<link href="/Public/css/ui-dialog.css" rel="stylesheet" type="text/css">
</head>
<body>

评论列表（共有<font color="red">1</font>条数据）<br><br>
<table class="gridtable">
	<thead>
		<tr>
			<th>订单编号</th>
			<th>商品编码</th>
			<th>商品名称</th>
			<th>评论用户</th>
			<th>评论时间</th>
			<th>评论图片</th>
			<th>评论内容</th>
			<th>评分</th>
			<th>状态</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody id="admin_role_list">
	   <volist name="list" id="vo">
		<tr>
			<td><{$vo.order_id}></td>
			<td><{$vo.product_id}></td>
			<td><{$vo.sale_prop}></td>
			<td><{$vo.member_id}></td>
			<td><{$vo.creation_time}></td>
			<th><img src="<{$vo.creation_url}>"></th>
			<td><{$vo.comment}></td>
			<td><{$vo.review_score}></td>
			<td><{$vo.is_enabled}></td>
			<td>查看&nbsp;&nbsp;禁用</td>
		</tr>
		</volist>
	</tbody>
</table>


<{$page}>
</body>
</html>