<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <style>
            .big{border: 1px solid #B9B9B9;width:800px;}
            .logo_pic{width:735px;margin: 10px 30px;}
            .nav{height:40px;width:735px;margin-left:30px;border: 1px solid #B9B9B9;}
            .nav span{text-align: center;line-height: 40px;margin-left:10px;}
            .form{line-height: 40px;margin-left:25px;}
        </style>
    </head>
    <body id="big" class="big">
        <div>
            <div class="logo_pic"><img src="__PUBLIC__/images/img1.jpg"></div>
        </div>
        <div class="nav">
            <span>添加菜单</span>
        </div>
        <form action="doMenuAdd" method="post">
            <table border="1" width="600px">
                <tr>
                    <td>菜单类型</td>
                    <td><input type="radio" value="0" name="menu_level" checked="checked" onclick="show_menu(0)" />一级菜单<input type="radio" value="1" name="menu_level" onclick="show_menu(1)"  />二级菜单</td>
               </tr>
               <tr id="level_0" style="display:none;">
                   <td>请选择一级菜单</td>
                    <td>
                        <select name="parent_id">
                            <option value="">请选择</option>
                            <volist name="menulist" id="menulist"> 
                                <option value="{$menulist.menu_id}">{$menulist.menu_name}</option>
                             </volist>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>菜单名称</td>
                    <td><input type="text" value="" name="menu_name"></td>
                </tr>
                <tr>
                   <td>菜单action</td>
                   <td><input type="text" name="menu_action" /></td>
                </tr>
                <tr>
                        <td></td><td><input type="submit" value="提交" /><input type="reset" value="取消" /></td>
                </tr>
            </table>
        </form>
    </body>
  <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
<script type="text/javascript">
        var menu_type= $("input[name='menu_level']:checked").val();
        if(menu_type == 1){
            show_menu(1);
        }
        function show_menu(val){
            if(val == 1){
                $("#level_0").show();
            }else{
                 $("#level_0").hide();
            }
            
        }
        function getMenu(obj){
            var pid= $(obj).val();
            var data = 'parent_id='+pid;
            $.ajax({
			type: "POST",
			url: "getMenu",
			cache: false,
			dataType:"json",
			data: data+"&m=" + Math.random(),
			beforeSend:function(){},
			success:function(res){
                            if(res.status == 1){
                                $("#secend").show();
                                var str='<option value="">请选择</option>';
                                for(var i=0;i<res.count;i++){
                                    str+="<option value='"+ res.data[i].menu_id +"'>"+res.data[i].menu_name+"</option>";
                                }
                                $("#secend_list").html(str);
                            }else{
                                $("#secend").hide();
                            }
			}
		});
         }
        $(function(){
           
        });
     </script>
</html>
