<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wb="http://open.weibo.com/wb">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <link href="__PUBLIC__/css/common.css" rel="stylesheet" type="text/css"/>
        <link href="__PUBLIC__/css/ui-dialog.css" rel="stylesheet" type="text/css"/> 
    </head>
    <body>
        <div class="nav">当前页面：账户管理 》 角色组管理</div>
        <div class="list_title">
            角色组列表  （共有<span id="admin_role_count" class="color_red"></span>条数据） <a href="/AdminRole/addIndex"><input type="button" value="添加角色组"></a>
        </div>
        <hr/>
        <table class="gridtable">
            <THEAD> 
                <TR> 
                    <th>角色组</th>
                    <th>权限管理</th>
                    <th width="20%">操作</th>
                </TR> 
            </THEAD> 
            <TBODY id="admin_role_list"> </TBODY> 

        </table>
        <div class="div_page">
            <a id="prePage" class="none">上一页</a>
            <span class="page_list"></span>
            <a id="nextPage" class="none">下一页</a>
        </div>
        <script  src="__PUBLIC__/js/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/js/admin_manager/admin_role.js?v={$version}" type="text/javascript"></script>
        <script src="__PUBLIC__/js/dialog-min.js"></script>
        <script src="__PUBLIC__/js/page.js?v={$version}" type="text/javascript"></script>
    </body>
</html>
