<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wb="http://open.weibo.com/wb">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title></title>
        <link href="__PUBLIC__/css/common.css" rel="stylesheet" type="text/css"/>
        <link href="__PUBLIC__/css/ui-dialog.css" rel="stylesheet" type="text/css"/> 
        <script  src="__PUBLIC__/js/jquery-1.9.1.min.js" type="text/javascript"></script>
        <script src="__PUBLIC__/js/dialog-min.js"></script>
        
        <script>
            $(document).ready(function(){
              ajaxPage();
            });
            
            function ajaxPage(){
                var url=$("#hide input[name='search']").val();
                $.post(
                url,
                '',
                function (data){
                   
                    var json=eval("("+data+")");
                    var role_html='';
                    $("#admin_role_count").text(json['count']);
                    if(json['count']>0){
                        $.each(json['list'], function (i, item) {
                            role_html += "<tr>";
                            role_html += "<td>" + item.department_name + "</td>";
                            role_html += "<td>" + item.status + "</td>";
                            role_html += "<td>" + item.update_time + "</td>";
                            role_html += "<td>" + item.add_time + "</td>";                        
                            role_html += "<td><a onclick='edit_dept("+ item.department_id+")'>编辑</a> <a onclick='remove_dept("+ item.department_id+")'>删除</a></td>";
                            role_html += "</tr>";
                        });
                        $("#admin_role_list").text('');
                        $("#admin_role_list").append(role_html);
                    }else{
                        $("#admin_role_list").text('');
                    }
                }
                ),
                'json'
            }
            
            
            
            //添加部门
            function add_dept(){
                var dept=dialog({
                    title: '添加部门',
                    content: $('#add_dept').html(),
                    width:480,
                    ok:function(){
                       save();
                    },
                    okValue:'添加',
                });
                dept.show();
            }
           
           function edit_dept(dept_id){
               var url=$("#hide input[name='query']").val();
               $.post(
                   url,
                   {dept_id:dept_id},
                   function (data){
                       if(data==1){
                           var edit_error=dialog({title:'错误信息',content:'部门id错误',width:400,ok:true,okValue:'确定'});
                           edit_error.show();
                       }else{                                                    
                            var dept=dialog({
                                title: '编辑部门',
                                content: $('#add_dept').html(),
                                width:480,
                                ok:function(){
                                   save();
                                },
                                okValue:'保存',
                            });
                            var json=eval("("+data+")");
                           $(".ui-dialog-body input[name='dept_id']").val(json['department_id']);
                           $(".ui-dialog-body input[name='name']").val(json['department_name']);
                           if(json['status']==2){
                               $(".ui-dialog-body input[name='status']").get(0).checked = false;
                               $(".ui-dialog-body input[name='status']").get(1).checked = true;
                           }
                            dept.show();
                       }
                   }
                   
               );
           }
           
           //保存部门
           function save(){
               var name=$(".ui-dialog-body input[name=name]").val();
               var dept_id=$(".ui-dialog-body input[name=dept_id]").val();
               var status=$(".ui-dialog-body input[name=status]:checked").val();
               if(name==''){
                   var save_error=dialog({title:'错误信息',content:'部门名称不能为空/部门状态错误',width:400,ok:true,okValue:'确定'});
                   save_error.show();
               }else{
                    var url=$("#hide input[name='save_url']").val();
                    $.post(
                         url,
                         {name:name,status:status,dept_id:dept_id},
                         function (flag){                       
                             if(flag==1){
                                var save_error=dialog({title:'错误信息',content:'部门名称不能为空/部门状态错误',width:400,ok:true,okValue:'确定'});
                                save_error.show();
                             }else if(flag==2){
                                 var save_info=dialog({title:'返回信息',content:'添加部门成功',width:400,ok:true,okValue:'确定'});
                                 save_info.show();
                                 ajaxPage();
                             }else if(flag==3){
                                 var save_info=dialog({title:'返回信息',content:'添加部门失败',width:400,ok:true,okValue:'确定'});
                                 save_info.show();
                             }else if(flag ==4){
                                 var save_info=dialog({title:'返回信息',content:'编辑部门成功',width:400,ok:true,okValue:'确定'});
                                 save_info.show();
                                 ajaxPage();
                             }else{
                                 var save_info=dialog({title:'返回信息',content:'编辑部门失败',width:400,ok:true,okValue:'确定'});
                                 save_info.show();
                             }
                             
                         }
                     );
                }               
           }
           
           //删除部门
           function remove_dept(dept_id){
               if(dept_id>0){
                   //删除部门
                    
                    var url=$("#hide input[name='del']").val();
                    var del_error=dialog({title:'错误信息',content:'部门信息错误',width:400,ok:true,okValue:'确定'});
                    
                    var re_dept=dialog({
                        title: '删除部门',
                        content: '您要删除这个部门吗？',
                        width:480,
                        ok:function(){
                           $.post(                         
                                   url,
                                   {dept_id:dept_id},
                                   function(data){
                                       if(data==1){
                                           del_error.show();
                                       }else if(data==2){
                                           var del_info=dialog({title:'返回信息',content:'删除部门成功',width:400,ok:true,okValue:'确定'});
                                           del_info.show();
                                           ajaxPage();
                                       }else{
                                           var del_info=dialog({title:'返回信息',content:'删除部门失败',width:400,ok:true,okValue:'确定'});
                                           del_info.show();
                                       }
                                   }
                           );
                        },
                        okValue:'删除',
                    });
                    re_dept.show();
                    
               }else{                   
                   del_error.show();
               }
           }
           
        </script>
        <style>
            table{
                table-layout:fixed;
                empty-cells:show;
                border-collapse: collapse;
                margin:0 auto;
                color: #868686;
                font-family: "Arial Negreta","Arial";
                font-style: normal;
                font-weight: bolder;
                text-align: center;
            }    
        </style>

    </head>
    <body>
        <div class="nav">当前页面：账户管理 》 部门管理</div>
        <div class="list_title">
            部门列表  （共有<span id="admin_role_count" class="color_red"></span>条数据） <input type="button" value="添加部门" onclick="add_dept()">
        </div>
        <hr/>
        <table class="gridtable">
            <THEAD> 
                <TR> 
                    <th>部门名称</th>
                    <th>部门状态</th>
                    <th>修改时间</th>
                    <th>创建时间</th>
                    <th width="20%">操作</th>
                </TR> 
            </THEAD> 
            <TBODY id="admin_role_list"> </TBODY> 

        </table>
        <div class="div_page">
            <a id="prePage" class="none">上一页</a>
            <span class="page_list"></span>
            <a id="nextPage" class="none">下一页</a>
        </div>
        
        <!--<script src="__PUBLIC__/js/admin_manager/admin_role.js" type="text/javascript"></script>-->
        
        <!--<script src="__PUBLIC__/js/page.js" type="text/javascript"></script>-->
        
        <div id="add_dept" style="display: none;">
            <input type="hidden" name="dept_id" value="0"/>
                <table border="1px" style="width:100%;height:210px;">
                    <tr>
                       <td align="center" width="100px">部门名称</td>
                       <td align="left"><input type="text" name="name"/></td>
                    </tr>
                    <tr>
                       <td align="center">部门状态</td>
                       <td align="left"><input type="radio" name="status" value="1" checked="checked" />开启  <input type="radio" name="status" value="2" />禁用  </td>
                    </tr>
                </table>
            
        </div>       
        
        <!--隐藏域 start-->
        <div id="hide" style="display: none;">
            <input type="hidden" name="save_url" value="{$save_url}" />
            <input type="hidden" name="search" value="{$search_url}" />
            <input type="hidden" name="query" value="{$query_url}" />
            <input type="hidden" name="del" value="{$del_url}" />
        </div>
        <!--隐藏域 end-->

    </body>
</html>
